<% if user_signed_in? %>
  <% @gossips.each do |goss| %>
    <p>
    <%= goss.created_at %>
    <%= User.find(goss.user_id).email %>
    </p>
    <p>
    <%= User.find(goss.user_id).username %>
    :..:Say:.....:
    <%= goss.content %>
    <% if goss.user_id == current_user.id %>
      <%= link_to 'Destroy', gossip_path(goss),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
    <br/>
  <% end %>
<% else %>
  <p>You need to login for have access to this site.</p>
<% end %>
